/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:before,
*::after {
  box-sizing: border-box;
}

.ex {
  padding: 50px 0;
}

.bubble_btnn {
  margin: 0 10px;
}

.button, .button_y {
  -webkit-font-smoothing: antialiased;
  background-color: #2f4f4f;
  width: 200px;
  border: none;
  color: #fff;
  display: inline-block;
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  user-select: none;
  letter-spacing: 1px;
  padding: 15px 0;
  transition: all 0.1s ease-out;
  border-radius: 10px;
}

.button--bubble, .button_y--bubble {
  position: relative;
  z-index: 2;
}

.button--bubble:hover + .button--bubble__effect-container .circle, .button_y--bubble:hover + .button--bubble__effect-container .circle {
  background: #2f4f4f;
}

.button--bubble:hover + .button--bubble__effect-container .button, .button_y--bubble:hover + .button--bubble__effect-container .button {
  background: #2f4f4f;
}

.button--bubble:active + .button--bubble__effect-container, .button_y--bubble:active + .button--bubble__effect-container {
  transform: scale(0.35);
}

.button--bubble__container, .button_y--bubble__container {
  position: relative;
  display: inline-block;
}

.button--bubble__container .effect-button, .button_y--bubble__container .effect-button {
  position: absolute;
  width: 50%;
  height: 25%;
  top: 50%;
  left: 25%;
  z-index: 1;
  transform: translateY(-50%);
  background: #2f4f4f;
  transition: background 0.1s ease-out;
}

.button--bubble__effect-container {
  position: absolute;
  display: block;
  width: 200%;
  height: 400%;
  top: -150%;
  left: -50%;
  filter: url("#goo");
  transition: all 0.1s ease-out;
  pointer-events: none;
}

.button--bubble__effect-container .circle {
  position: absolute;
  width: 45px;
  height: 45px;
  border-radius: 25px;
  background: #2f4f4f;
  transition: background 0.1s ease-out;
}

.button--bubble__effect-container .circle.top-left {
  top: 40%;
  left: 27%;
}

.button--bubble__effect-container .circle.bottom-right {
  bottom: 40%;
  right: 27%;
}

.goo {
  position: absolute;
  visibility: hidden;
  width: 1px;
  height: 1px;
}

.button--bubble__container {
  top: 50%;
  margin-top: -25px;
}

@keyframes hue-rotate {
  from {
    -moz-filter: hue-rotate(0);
    -ms-filter: hue-rotate(0);
    filter: hue-rotate(0);
  }
  to {
    -moz-filter: hue-rotate(360deg);
    -ms-filter: hue-rotate(360deg);
    filter: hue-rotate(360deg);
  }
}

.button_y {
  color: #2f4f4f;
  background-color: #d9a420;
}

.button_y:hover + .button--bubble__effect-container .circle {
  background: #d9a420;
}

.button_y:hover + .button--bubble__effect-container .button {
  background: #d9a420;
}

.button_y__container {
  position: relative;
  display: inline-block;
}

.button_y__container .effect-button {
  background: #d9a420;
}

.button_y .circle {
  background: #d9a420;
}

nav {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 60px;
  margin-top: 130px;
}

nav .index_run {
  height: 500px;
  margin: 0 auto;
  display: flex;
  padding-top: 200px;
  overflow: hidden;
}

nav .index_run .show {
  flex-grow: 1;
  flex-shrink: 1;
}

nav .index_run .show img {
  width: 200px;
  height: auto;
}

article .index_introduce {
  margin: 0 auto;
}

article .index_introduce h1 {
  font-size: 70px;
  text-align: center;
}

article .index_introduce > h1:nth-child(1) {
  font-weight: 700;
}

article .index_introduce .h1_small {
  font-size: 22px;
  margin-bottom: 30px;
}

article .index_introduce .index_introduce_in {
  margin: 0 auto;
  overflow: hidden;
  display: flex;
}

article .index_introduce .index_introduce_in .main_introduce_small {
  display: flex;
  height: 150px;
  margin-top: auto;
}

article .index_introduce .index_introduce_in .main_introduce_small img {
  width: 150px;
  height: 150px;
}

article .index_introduce .index_introduce_in .main_introduce_big {
  width: 400px;
  height: auto;
  padding-top: 80px;
}

article .index_introduce .index_introduce_in .index_introduce_word {
  padding-top: 50px;
  width: 400px;
}

article .index_introduce .index_introduce_in .index_introduce_word h1 {
  font-size: 36px;
  text-align: left;
  font-weight: 700;
}

article .index_introduce .index_introduce_in .index_introduce_word p {
  font-size: 16px;
  margin-bottom: 40px;
}

article .index_introduce .index_introduce_in .index_introduce_word a {
  display: block;
  text-align: center;
}

article .index_introduce .index_introduce_in .index_introduce_word .bubble_btnn {
  margin-bottom: 30px;
}

article .main_about_title {
  font-size: 70px;
  text-align: center;
  font-weight: 700;
}

article .main_about_title1 {
  text-align: center;
  font-size: 22px;
}

.main_about_bg {
  background-image: url("../img/background.png");
  background-size: 95%;
  background-repeat: no-repeat;
  background-position: center center;
}

.main_about_bg article .index_about {
  overflow: hidden;
  margin: 0 auto;
}

.main_about_bg article .index_about .index_about_word {
  width: 400px;
  margin-top: 30px;
  float: left;
  margin-left: 150px;
}

.main_about_bg article .index_about .index_about_word h1 {
  font-size: 26px;
  font-weight: 700;
  text-align: left;
  color: #979f77;
  padding-bottom: 20px;
}

.main_about_bg article .index_about .index_about_word p {
  font-size: 16px;
  text-align: left;
  padding-bottom: 40px;
}

.main_about_bg article .index_about .index_about_word a {
  text-align: center;
}

.main_about_bg article .index_about .index_about_word .bubble_btnn {
  text-align: left;
}

.main_about_bg article .index_about .index_about_word img {
  width: 200px;
  margin-right: 180px;
}

.main_about_bg article .index_about img {
  float: right;
  width: 500px;
  margin-right: 85px;
}

.main_about_bg article .index_about .main_about_diy {
  width: 1000px;
}

article .index_product h1 {
  font-size: 70px;
  text-align: center;
  font-weight: 700;
}

article .index_product .h1_small {
  font-size: 22px;
  font-weight: 400;
}

.one {
  width: 1500px;
  background-color: #eeebeb;
  height: 200px;
  position: relative;
  display: flex;
}

.one .pic_left {
  height: 200px;
  width: auto;
  padding-left: 480px;
}

.one .pic_right {
  height: 200px;
  width: auto;
  padding-left: 400px;
  z-index: 9;
}

.one ul {
  padding-left: 230px;
  padding-top: 50px;
}

.one ul li h1 {
  font-size: 36px;
}

.one ul li .h1_small {
  font-size: 20px;
  margin-left: 5px;
}

.one::before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 200px 200px 0 0;
  border-color: #eeebeb transparent transparent transparent;
  position: absolute;
  top: 0;
  left: 1500px;
  z-index: 1;
}

.two {
  width: 1500px;
  background-color: #d1c4a4;
  height: 200px;
  position: relative;
  display: flex;
}

.two .pic_left {
  height: 200px;
  width: auto;
  padding-left: 480px;
}

.two .pic_right {
  height: 200px;
  width: auto;
  padding-left: 425px;
  z-index: 9;
}

.two ul {
  padding-left: 70px;
  padding-top: 50px;
}

.two ul li h1 {
  font-size: 36px;
}

.two ul li .h1_small {
  font-size: 20px;
  margin-left: 5px;
}

.two::before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 200px 200px 0 0;
  border-color: #d1c4a4 transparent transparent transparent;
  position: absolute;
  top: 0;
  left: 1500px;
  z-index: 1;
}

.three {
  width: 1500px;
  background-color: #979f77;
  height: 200px;
  position: relative;
  display: flex;
}

.three .pic_left {
  height: 200px;
  width: auto;
  padding-left: 480px;
}

.three .pic_right {
  height: 200px;
  width: auto;
  padding-left: 100px;
  z-index: 9;
}

.three ul {
  padding-left: 230px;
  padding-top: 50px;
}

.three ul li {
  width: 500px;
}

.three ul li h1 {
  font-size: 36px;
}

.three ul li .h1_small {
  font-size: 20px;
  margin-left: 5px;
}

.three::before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 200px 200px 0 0;
  border-color: #979f77 transparent transparent transparent;
  position: absolute;
  top: 0;
  left: 1500px;
  z-index: 1;
}

.product {
  margin-top: 30px;
}

.product:hover {
  width: 100%;
  transition-duration: 2s;
}

article .index_diy h1 {
  font-size: 70px;
  text-align: center;
  font-weight: 700;
}

article .index_diy .h1_small {
  font-size: 22px;
  font-weight: 400;
}

.diy_turn {
  width: 100%;
  height: 600px;
  position: relative;
  background-image: url("../img/index/product_kv.png");
}

.diy_turn .diy_circle {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background-color: white;
  margin: 0 auto;
  opacity: 0.7;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.diy_turn .diy_circle h1 {
  font-size: 70px;
  text-align: center;
}

.diy_turn .diy_circle .h1_small {
  font-size: 26px;
  text-align: center;
}

.diy_turn .diy_circle p {
  padding-top: 30px;
  font-size: 16px;
  text-align: center;
}

.index_blog {
  background-image: url("../img/background.png");
  background-size: 86%;
  background-repeat: no-repeat;
  background-position: center center;
}

.index_blog article h1 {
  font-size: 70px;
  text-align: center;
  font-weight: 700;
}

.index_blog article .h1_small {
  font-size: 22px;
  font-weight: 400;
}

.index_blog article img {
  margin-top: 50px;
}

.index_blog article .bubble_btnn {
  text-align: center;
  margin-top: 50px;
}

@media screen and (max-width: 990px) {
  .full_wrapper {
    width: 100vw;
  }
  nav {
    width: 100vw;
  }
  nav .index_run {
    width: 100vw;
  }
  nav .index_run .show img {
    width: 150px;
  }
  article {
    width: 100vw;
  }
  article .index_introduce {
    width: 90vw;
  }
  article .index_introduce .index_introduce_in {
    width: 90vw;
  }
  article .index_introduce .index_introduce_in .main_introduce_small {
    margin-bottom: 50px;
  }
  article .index_introduce .index_introduce_in .main_introduce_small .main_introduce_img3 {
    display: none;
  }
  article .index_introduce .index_introduce_in .main_introduce_small .main_introduce_img4 {
    display: none;
  }
  article .index_introduce .index_introduce_in .index_introduce_word {
    width: 300px;
    padding-right: 100px;
  }
  article .index_introduce .index_introduce_in .index_introduce_word h1 {
    width: 200px;
  }
  .main_about_bg {
    background-size: cover;
  }
  .main_about_bg article .index_about .index_about_word {
    margin: 0;
    padding-left: 60px;
  }
  .main_about_bg article .index_about .index_about_word img {
    margin-right: 135px;
  }
  .main_about_bg article .index_about img {
    width: 450px;
  }
  .main_about_bg article .index_about .main_about_diy {
    width: 800px;
  }
  article .index_product {
    width: 100vw;
  }
  .one {
    width: 700px;
  }
  .one .pic_left {
    padding-left: 100px;
  }
  .one .pic_right {
    padding-left: 120px;
  }
  .one ul {
    padding-left: 150px;
  }
  .one ul li h1 {
    font-size: 20px;
  }
  .one ul li .h1_small {
    font-size: 18px;
  }
  .one::before {
    left: 699px;
  }
  .three {
    width: 700px;
  }
  .three .pic_left {
    padding-left: 100px;
  }
  .three .pic_right {
    padding-left: 45px;
  }
  .three ul {
    padding-left: 150px;
  }
  .three ul li {
    width: 200px;
  }
  .three ul li h1 {
    font-size: 20px;
  }
  .three ul li .h1_small {
    font-size: 18px;
  }
  .three::before {
    left: 699px;
  }
  .two {
    width: 700px;
  }
  .two .pic_left {
    padding-left: 100px;
    width: 300px;
  }
  .two .pic_right {
    padding-left: 120px;
  }
  .two ul {
    padding-left: 150px;
  }
  .two ul li h1 {
    font-size: 20px;
  }
  .two ul li .h1_small {
    font-size: 18px;
  }
  .two::before {
    left: 699px;
  }
  .diy_turn {
    width: 100vw;
  }
  .index_blog article ul li img {
    width: 150px;
  }
}

@media screen and (max-width: 768px) {
  nav .index_run {
    height: 300px;
    padding-top: 100px;
  }
  article .index_introduce {
    width: 100vw;
  }
  article .index_introduce h1 {
    font-size: 48px;
  }
  article .index_introduce .index_introduce_in .index_introduce_word {
    padding: 0;
  }
  .main_about_bg article .index_about {
    width: 100vw;
  }
  .main_about_bg article .index_about .index_about_word {
    padding: 0;
    width: 300px;
    padding-left: 20px;
  }
  .main_about_bg article .index_about .index_about_word img {
    margin-right: 90px;
  }
  .main_about_bg article .index_about .main_about_three {
    width: 430px;
    margin: 0;
    margin-right: 20px;
    margin-top: 70px;
  }
  .main_about_bg article .index_about .main_about_diy {
    width: 90vw;
  }
  .one {
    width: 100vw;
  }
  .one .pic_left {
    padding-left: 50px;
  }
  .one ul {
    padding-left: 100px;
  }
  .one .pic_right {
    padding-left: 100px;
    display: none;
  }
  .one::before {
    left: 568px;
    display: none;
  }
  .two {
    width: 100vw;
  }
  .two .pic_right {
    padding-left: 100px;
    display: none;
  }
  .two ul {
    padding-left: 70px;
  }
  .two::before {
    left: 568px;
    display: none;
  }
  .three {
    width: 100vw;
  }
  .three .pic_left {
    padding-left: 70px;
  }
  .three .pic_right {
    padding-left: 0px;
    display: none;
  }
  .three ul {
    padding-left: 100px;
  }
  .three::before {
    left: 568px;
    display: none;
  }
  .index_blog {
    background-size: 130vw;
  }
}

@media screen and (max-width: 414px) {
  .main_ex {
    padding: 20px 0;
  }
  nav {
    width: 100vw;
  }
  nav .index_run {
    width: 100vw;
    height: 100px;
    padding-top: 0px;
  }
  nav .index_run .show img {
    width: 75px;
  }
  article .main_ex {
    padding: 20px 0;
  }
  article .index_introduce {
    width: 100vw;
  }
  article .index_introduce h1 {
    font-size: 28px;
    margin-bottom: 20px;
  }
  article .index_introduce .h1_small {
    font-size: 18px;
    margin-bottom: 20px;
  }
  article .index_introduce .index_introduce_in .main_introduce_small {
    display: none;
  }
  article .index_introduce .index_introduce_in .index_introduce_word {
    padding-right: 15px;
  }
  article .index_introduce .index_introduce_in .index_introduce_word h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  article .index_introduce .index_introduce_in .index_introduce_word p {
    font-size: 12px;
    margin-bottom: 20px;
  }
  article .index_introduce .index_introduce_in .index_introduce_word .button, article .index_introduce .index_introduce_in .index_introduce_word .button_y {
    width: 150px;
    height: auto;
    font-size: 12px;
  }
  article .index_introduce .index_introduce_in .index_introduce_word .bubble_btnn {
    margin-bottom: 20px;
  }
  article .index_introduce .index_introduce_in .main_introduce_big {
    width: 160px;
  }
  article .index_introduce .index_introduce_in .main_introduce_big .main_introduce_img1 {
    width: 180px;
  }
  article .main_about_title {
    font-size: 28px;
  }
  article .main_about_title1 {
    font-size: 18px;
  }
  .main_about_bg article .index_about {
    width: 100vw;
  }
  .main_about_bg article .index_about .main_about_three {
    display: none;
  }
  .main_about_bg article .index_about .main_about_diy {
    margin-right: 50px;
  }
  .main_about_bg article .index_about .index_about_word {
    padding: 0;
    width: 100vw;
  }
  .main_about_bg article .index_about .index_about_word h1 {
    font-size: 28px;
    text-align: center;
  }
  .main_about_bg article .index_about .index_about_word p {
    font-size: 12px;
    text-align: center;
  }
  .main_about_bg article .index_about .index_about_word .bubble_btnn {
    margin: 0;
  }
  .main_about_bg article .index_about .index_about_word .button, .main_about_bg article .index_about .index_about_word .button_y {
    width: 150px;
    height: auto;
    font-size: 12px;
  }
  .main_about_bg article .index_about .index_about_word img {
    margin-right: 110px;
  }
  article .index_product h1 {
    font-size: 24px;
  }
  article .index_product .h1_small {
    font-size: 14px;
  }
  .one {
    width: 100vw;
    height: 100px;
  }
  .one .pic_left {
    height: 100px;
    padding-left: 50px;
  }
  .one .pic_right {
    height: 100px;
    display: none;
  }
  .one ul {
    padding-left: 70px;
    padding-top: 20px;
  }
  .one ul h1 {
    font-size: 24px;
  }
  .one ul .h1_small {
    font-size: 18px;
  }
  .one::before {
    display: none;
  }
  .two {
    width: 100vw;
    height: 100px;
  }
  .two .pic_left {
    height: 100px;
    width: 200px;
    padding-left: 50px;
  }
  .two .pic_right {
    height: 100px;
    display: none;
  }
  .two ul {
    padding-left: 25px;
    padding-top: 25px;
  }
  .two::before {
    display: none;
  }
  .three {
    width: 100vw;
    height: 100px;
  }
  .three .pic_left {
    height: 100px;
    width: auto;
    padding-left: 70px;
  }
  .three .pic_right {
    display: none;
  }
  .three ul {
    width: 200px;
    padding-left: 55px;
    padding-top: 25px;
  }
  .three ul li {
    width: 118px;
  }
  .three::before {
    display: none;
  }
  article .index_diy h1 {
    font-size: 24px;
  }
  article .index_diy .h1_small {
    font-size: 14px;
  }
  .diy_turn {
    width: 100vw;
  }
  .index_blog {
    width: 100vw;
  }
  .index_blog article h1 {
    font-size: 24px;
  }
  .index_blog article .h1_small {
    font-size: 14px;
  }
}

.main .-right_bottom {
  right: 0;
  bottom: -100%;
}

.main .-left_top {
  top: 105%;
  left: 0;
}

.index_pro_bg {
  position: relative;
  width: 100%;
  height: 200px;
  display: inline-flex;
  margin: 5px auto;
  cursor: pointer;
}

@media (max-width: 990px) {
  .index_pro_bg {
    height: 100px;
  }
}

@media (max-width: 768px) {
  .index_pro_bg {
    height: 70px;
  }
}

.index_pro_bg a {
  display: unset;
}

.bg70 {
  width: 80%;
  background-color: #eeebeb;
}

.bg70::after {
  content: "";
  position: absolute;
  top: 0;
  left: 80%;
  border-width: 100px 40px;
  border-style: solid;
}

@media (max-width: 990px) {
  .bg70::after {
    border-width: 50px 20px;
  }
}

@media (max-width: 768px) {
  .bg70::after {
    border-width: 35px 10px;
  }
}

.box1 .bg70::after {
  border-color: #eeebeb transparent transparent #eeebeb;
}

.box2 .bg70::after {
  border-color: #d0c3a3 transparent transparent #d0c3a3;
}

.box3 .bg70::after {
  border-color: #979f77 transparent transparent #979f77;
}

.bg30 {
  width: 20%;
  background-color: #fff;
}

.in_gold {
  background-color: #d0c3a3;
}

.in_gre {
  background-color: #979f77;
}

.index_pro_wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 990px) {
  .index_pro_wrapper {
    max-width: 700px;
  }
}

@media (max-width: 768px) {
  .index_pro_wrapper {
    max-width: 400px;
  }
}

.index_pro_wrapper .index_pro_txt {
  text-align: left;
  margin-right: 100px;
}

@media (max-width: 990px) {
  .index_pro_wrapper .index_pro_txt {
    margin-right: 0;
  }
}

.index_pro_wrapper .index_pro_txt h5 {
  font-size: 26px;
  font-weight: 700;
}

@media (max-width: 768px) {
  .index_pro_wrapper .index_pro_txt h5 {
    font-size: 22px;
  }
}

.index_pro_wrapper .index_pro_txt p {
  font-size: 20px;
}

@media (max-width: 768px) {
  .index_pro_wrapper .index_pro_txt p {
    font-size: 12px;
  }
}

.index_pro_wrapper img:first-child {
  width: 500px;
  height: 200px;
}

@media (max-width: 990px) {
  .index_pro_wrapper img:first-child {
    width: 230px;
    height: 100px;
  }
}

@media (max-width: 768px) {
  .index_pro_wrapper img:first-child {
    width: 160px;
    height: 70px;
  }
}

.index_pro_wrapper img:last-child {
  width: 200px;
  height: 200px;
}

@media (max-width: 990px) {
  .index_pro_wrapper img:last-child {
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 768px) {
  .index_pro_wrapper img:last-child {
    width: 70px;
    height: 70px;
  }
}

.pconly {
  display: block;
}

@media (max-width: 990px) {
  .pconly {
    display: none;
  }
}

.custom_wrapper {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 990px) {
  .custom_wrapper {
    flex-direction: column;
  }
}

.custom_block7 {
  width: 60%;
  /* outline: 1px solid green; */
  position: relative;
  background-image: url(../img/custom/custom_bg_white.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 600px;
  overflow: hidden;
  padding: 20px 0;
}

@media (max-width: 990px) {
  .custom_block7 {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    order: 1;
  }
}

@media (max-width: 768px) {
  .custom_block7 {
    margin: 30px auto 0;
    background-size: contain;
    height: auto;
  }
}

@media (max-width: 414px) {
  .custom_block7 {
    margin: 60px auto 0;
    background-position-y: top;
  }
}

.custom_price {
  background-image: url(../img/custom/price.png);
  background-repeat: no-repeat;
  background-size: 130px;
  width: 130px;
  height: 130px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.2;
  padding: 30px 0 0;
  position: absolute;
  bottom: 0px;
  left: 0;
}

@media (max-width: 768px) {
  .custom_price {
    background-image: url(../img/custom/price_turn.png);
    background-size: 110px;
    width: 110px;
    height: 110px;
    padding: 28px 10px 0;
    bottom: unset;
    top: 0;
  }
}

.custom_price span {
  font-size: 36px;
  letter-spacing: 0;
}

@media (max-width: 768px) {
  .custom_price span {
    font-size: 26px;
  }
}

.custom_btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  right: 0;
  bottom: 20px;
  width: 115px;
}

@media (max-width: 768px) {
  .custom_btn {
    bottom: 20px;
  }
}

@media (max-width: 414px) {
  .custom_btn {
    flex-direction: column;
  }
}

.btn_delet {
  display: block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border: 1px solid #2f4f4f;
  border-radius: 5px;
  font-size: 30px;
  cursor: pointer;
}

@media (max-width: 414px) {
  .btn_delet {
    width: 60px;
    height: 60px;
    line-height: 56px;
    margin-top: 10px;
    margin-left: 20px;
  }
}

.turn180 {
  /* background: #333; */
  background-image: url(../img/custom/icon_180.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 35px;
  width: 50px;
  height: 50px;
  display: block;
}

@media (max-width: 414px) {
  .turn180 {
    width: 60px;
    height: 60px;
    background-size: 40px;
  }
}

.btn_delet:hover {
  background-color: #2f4f4f;
  color: #eeebeb;
}

.turn180:hover {
  background-image: url(../img/custom/icon_180_g.png);
}

.custom_paw {
  position: relative;
  z-index: 4;
}

.custom_paw_out {
  position: absolute;
  top: -600px;
  left: 0;
  right: 0;
  width: 70%;
  margin: 0 auto;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

@media (max-width: 414px) {
  .custom_paw_out {
    top: -650px;
    width: 70%;
  }
}

.custom_paw img {
  position: absolute;
}

.paw_l {
  bottom: -40px;
  left: -90px;
  width: 76%;
  z-index: 0;
}

@media (max-width: 414px) {
  .paw_l {
    left: -60px;
  }
}

.paw_m {
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 18%;
  z-index: 1;
}

.paw_r {
  bottom: -40px;
  right: -80px;
  width: 76%;
  z-index: 0;
}

@media (max-width: 414px) {
  .paw_r {
    right: -55px;
  }
}

.custom_gift_ribbon {
  display: block;
  width: 60%;
  margin: 30px auto;
  position: absolute;
  top: -200%;
  right: 0;
  left: 0;
  z-index: 1;
}

@media (max-width: 414px) {
  .custom_gift_ribbon {
    width: 80%;
    margin: 50px auto;
  }
}

.custom_gift_top {
  display: block;
  width: 80%;
  margin: 0 auto;
  position: absolute;
  top: -200%;
  right: 0;
  left: 0;
  z-index: 4;
  height: 100%;
}

@media (max-width: 414px) {
  .custom_gift_top {
    width: 100%;
    height: 97%;
  }
}

.custom_gift_bottom {
  display: block;
  width: 80%;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  right: 0;
  left: -200%;
  z-index: 0;
}

@media (max-width: 414px) {
  .custom_gift_bottom {
    width: 100%;
    bottom: 50px;
  }
}

.custom_draw {
  /* outline: 1px solid blue; */
  height: 600px;
  position: relative;
  margin: 70px auto;
}

@media (max-width: 768px) {
  .custom_draw {
    height: 450px;
  }
}

@media (max-width: 414px) {
  .custom_draw {
    height: 480px;
  }
}

.custom_draw_plant {
  width: 480px;
  height: 250px;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

@media (max-width: 768px) {
  .custom_draw_plant {
    width: 350px;
    height: 174px;
  }
}

.custom_draw_plant img {
  position: absolute;
  display: block;
  height: 251px;
  width: auto;
  /* outline: 1px solid pink; */
}

@media (max-width: 768px) {
  .custom_draw_plant img {
    height: 174px;
  }
}

.custom_draw_pot img {
  display: block;
  width: 475px;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.2));
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 768px) {
  .custom_draw_pot img {
    width: 375px;
  }
}

@media (max-width: 414px) {
  .custom_draw_pot img {
    bottom: 30px;
  }
}

.custom_block3 {
  width: 40%;
  position: relative;
  /* outline: 1px solid green; */
  /* font-size: 14px;
    font-weight: 700; */
}

@media (max-width: 990px) {
  .custom_block3 {
    width: 100%;
  }
}

.custom_block3 > img {
  display: block;
  width: 100%;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

@media (max-width: 990px) {
  .custom_block3 > img {
    display: none;
  }
}

.custom_product {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  padding-top: 5%;
}

@media (max-width: 990px) {
  .custom_product {
    width: 90%;
    padding-top: 48px;
    z-index: 4;
  }
}

@media (max-width: 414px) {
  .custom_product {
    width: 100%;
  }
}

.custom_product_type {
  float: left;
  position: absolute;
  top: 200px;
  left: -37px;
}

@media (max-width: 990px) {
  .custom_product_type {
    float: none;
    display: flex;
    right: 0;
    left: 0;
    top: 0;
  }
}

.custom_product_type li {
  padding: 30px 10px;
  background-color: #fff;
  border-radius: 10px 0 0 10px;
  cursor: pointer;
}

@media (max-width: 990px) {
  .custom_product_type li {
    border-radius: 10px 10px 0 0;
    padding: 10px 30px;
  }
}

.custom_wrapper .bg_gold {
  background-color: #d0c3a3;
}

.custom_wrapper .bg_green {
  background-color: #979f77;
}

.custom_product ._onon {
  display: flex;
}

.custom_say {
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom_say p {
  background-image: url(../img/custom/icon_say.png);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  width: 180px;
  height: 50px;
  line-height: 50px;
  padding-right: 15px;
}

.custom_say i {
  font-size: 30px;
  margin: 0 -20px 0 10px;
}

.custom_say b {
  font-weight: 700;
  margin: 0 5px;
}

.custom_product_items {
  background-color: #fff;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  padding-top: 110px;
}

@media (max-width: 990px) {
  .custom_product_items {
    padding: 15px;
    border-radius: 0 10px 10px 10px;
  }
}

.custom_product_items ul {
  display: none;
  height: 600px;
  overflow: hidden;
  overflow-y: scroll;
  padding: 0 10px;
  justify-content: space-evenly;
  align-content: flex-start;
  flex-wrap: wrap;
}

@media (max-width: 990px) {
  .custom_product_items ul {
    height: auto;
    justify-content: flex-start;
    flex-wrap: nowrap;
    overflow-y: hidden;
    overflow-x: scroll;
  }
}

.custom_product_items li {
  flex-basis: 40%;
  margin: 10px auto;
  text-align: center;
  font-size: 12px;
}

@media (max-width: 990px) {
  .custom_product_items li {
    margin: 10px;
  }
}

.custom_product_items li a {
  color: #2f4f4f;
}

.custom_product_items li img {
  width: auto;
  height: 100px;
  display: block;
  margin: 0 auto 10px;
}

.custom_draw .-mirror {
  transform: scaleX(-1);
}

.custom_draw .-mirrorpot {
  transform: scaleX(-1) translateX(50%);
}

.-nono {
  display: none;
}

.-upup {
  z-index: 1;
}

.mindtest_wrapper {
  background-image: url(../img/mind/mind_iconbg.png), url(../img/gray_bg.png);
  background-repeat: no-repeat,no-repeat;
  background-position: center center,center center;
  background-size: cover,cover;
  background-attachment: fixed;
}

.mind_wrapper {
  position: relative;
  padding: 50px 0;
}

.mind_circle {
  width: 750px;
  height: 750px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  transform: rotate(10deg);
  background: rgba(255, 255, 255, 0.6);
  border-radius: 61% 39% 65% 35% / 39% 59% 41% 61%;
  z-index: -1;
  animation: cc 8s linear infinite;
}

@media (max-width: 768px) {
  .mind_circle {
    overflow: hidden;
    width: 500px;
    height: 500px;
    transform: rotate(10deg) scale(1.5);
  }
}

@media (max-width: 414px) {
  .mind_circle {
    width: 400px;
    height: 400px;
  }
}

.-bigbig {
  opacity: 0.5;
  transform: rotate(0deg) scale(1.05);
}

@media (max-width: 768px) {
  .-bigbig {
    transform: rotate(0deg) scale(1.6);
  }
}

@keyframes cc {
  0% {
    border-radius: 61% 39% 65% 35% / 39% 59% 41% 61%;
  }
  25% {
    border-radius: 58% 40% 52% 48% / 35% 48% 52% 65%;
  }
  50% {
    border-radius: 47% 57% 46% 54% / 47% 39% 61% 53%;
  }
  75% {
    border-radius: 64% 36% 62% 38% / 34% 65% 35% 66%;
  }
  100% {
    border-radius: 61% 39% 65% 35% / 39% 59% 41% 61%;
  }
}

.mind_wrapper h1 {
  font-size: 26px;
  font-weight: 700;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .mind_wrapper h1 {
    font-size: 22px;
  }
}

.mind_ques {
  padding: 100px 0;
  /* height: 800px; */
}

.mind_reoutter {
  padding: 0 0 100px;
}

.mind_answer, .mind_result {
  max-width: 650px;
  margin: 50px auto 70px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.mind_result {
  margin: 100px auto 50px;
}

@media (max-width: 768px) {
  .mind_result {
    flex-direction: column;
    margin: 0px auto 20px;
  }
}

@media (max-width: 414px) {
  .mind_result {
    flex-direction: column;
    margin: 0px auto;
  }
}

.mind_block {
  border: 1px solid #eeebeb;
  border-radius: 10px;
  padding: 20px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .mind_block {
    width: 50%;
    margin: 0 2%;
  }
}

.mind_block img, .mind_reblock img {
  display: block;
  width: 240px;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .mind_block img, .mind_reblock img {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .mind_reblock img {
    width: 200px;
    margin-bottom: 0;
  }
}

.mind_block:hover {
  background-color: #eeebeb;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
  transition: all .5s;
}

.mind_reblock {
  padding: 20px;
  text-align: left;
  font-weight: 700;
}

.mind_tag {
  display: block;
  width: 80px;
  line-height: 30px;
  background-color: #2f4f4f;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  border-radius: 5px;
}

.mind_reblock h2 {
  font-size: 26px;
}

.mind_reblock b {
  font-size: 32px;
  color: #e0a100;
}

.mind_title {
  font-size: 18px;
}

.mind_reblock hr {
  margin: 20px auto;
  color: #2f4f4f;
}

.mind_say {
  font-weight: 400;
  letter-spacing: 0;
}

.mind_btn {
  display: flex;
  justify-content: center;
}

@media (max-width: 414px) {
  .mind_btn {
    flex-direction: column;
    margin-top: 60px;
  }
}

@media (max-width: 414px) {
  .mind_btn .bubble_btnn {
    margin: 15px auto;
  }
}

@media (max-width: 414px) {
  .mind_btn .button, .mind_btn .button_y {
    width: 350px;
  }
}

.mind_btn .btn_green {
  margin: 0 10px;
}

.circle_pos {
  position: relative;
}

.circle_block {
  width: 300px;
  height: 400px;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

@media (max-width: 768px) {
  .circle_block {
    display: none;
  }
}

.-right_bottom {
  right: 0;
  bottom: 10%;
}

.-left_top {
  top: 15%;
  left: 0;
}

.circle_deepgreen {
  width: 350px;
  height: 350px;
  background-color: #2f4f4f;
  animation: circle1 5s linear infinite;
  position: absolute;
  right: -60%;
  bottom: 20px;
}

.circle_green1 {
  width: 100px;
  height: 100px;
  border: 3px solid #677749;
  animation: circle2 8s linear infinite;
  position: absolute;
  left: 35%;
  bottom: 20px;
}

.circle_green2 {
  width: 180px;
  height: 180px;
  background-color: rgba(147, 158, 114, 0.8);
  animation: circle2 5s linear infinite;
  position: absolute;
  left: -30%;
  top: 0;
}

.circle_gold {
  width: 60px;
  height: 60px;
  border: 2px solid #d0c3a3;
  animation: circle1 5s linear infinite;
  position: absolute;
  left: 20%;
  top: 0;
}

@keyframes circle1 {
  0% {
    border-radius: 62% 38% 34% 66% / 70% 57% 43% 30%;
  }
  25% {
    border-radius: 45% 55% 35% 65% / 63% 42% 58% 37%;
  }
  50% {
    border-radius: 57% 43% 52% 48% / 41% 49% 51% 59%;
  }
  75% {
    border-radius: 59% 41% 50% 50% / 28% 54% 46% 72%;
  }
  100% {
    border-radius: 62% 38% 34% 66% / 70% 57% 43% 30%;
  }
}

@keyframes circle2 {
  0% {
    border-radius: 65% 35% 68% 32% / 39% 50% 50% 61%;
  }
  25% {
    border-radius: 47% 53% 34% 66% / 36% 50% 50% 64%;
  }
  50% {
    border-radius: 57% 43% 52% 48% / 41% 49% 51% 59%;
  }
  75% {
    border-radius: 66% 34% 36% 64% / 40% 70% 30% 60%;
  }
  100% {
    border-radius: 65% 35% 68% 32% / 39% 50% 50% 61%;
  }
}

.header_bg {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  padding: 20px 0;
  z-index: 100;
  transition: top .4s ease-in-out;
}

.headers {
  width: calc(100% - 200px);
  min-width: 900px;
  line-height: 30px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 990px) {
  .headers {
    width: 100%;
    min-width: unset;
    padding-left: 20px;
    padding-right: 80px;
  }
}

.headers img {
  display: block;
  width: 160px;
  height: 35px;
  margin-right: 40px;
  cursor: pointer;
}

.ham {
  display: none;
}

@media (max-width: 990px) {
  .ham {
    display: block;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
  }
}

.ham span {
  display: block;
  width: 32px;
  height: 2px;
  margin: 8px auto;
  background-color: #2f4f4f;
  border-radius: 1px;
  transform-origin: 25px 0px;
  transition: transform 0.8s cubic-bezier(0.04, 0.27, 0.5, 1.01), opacity 0.55s ease;
}

.ham span:nth-child(1) {
  transform-origin: 10% 0%;
}

.ham span:nth-child(2) {
  transform-origin: 100% 100%;
}

.ham span:nth-child(3) {
  transform-origin: 10% 0%;
}

.-hamclose {
  display: block;
  transition: .6s;
}

.-hamclose span {
  background-color: #fff;
  opacity: 1;
  transform: rotate(45deg) translate(2px, -1px);
}

.-hamclose span:nth-child(2) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

.-hamclose span:nth-child(3) {
  transform: rotate(-45deg) translate(1px, 0px);
}

.navs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headers ul {
  width: 450px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 1s;
}

@media (max-width: 990px) {
  .headers ul {
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    position: absolute;
    background-color: #2f4f4f;
    right: -100vw;
    top: 0;
    padding: 100px 0;
  }
  .headers ul a {
    color: #fff;
  }
}

.headers ol {
  display: flex;
  justify-content: space-between;
  width: 70px;
  font-size: 22px;
}

.headers ol li {
  display: flex;
  cursor: pointer;
}

.headers .-showmenu {
  right: 0;
}

.hideUp {
  top: -80px;
}

.addbg {
  background-color: rgba(255, 255, 255, 0.7);
}

.mem_wrapper {
  display: flex;
}

@media (max-width: 990px) {
  .mem_wrapper {
    flex-direction: column;
  }
}

.mem_btn {
  width: 20%;
}

@media (max-width: 990px) {
  .mem_btn {
    width: 100%;
    display: flex;
  }
}

.mem_btn li {
  padding: 15px;
  margin: 20px 30px;
  border-radius: 10px;
  border: 1px solid #2f4f4f;
  cursor: pointer;
}

@media (max-width: 990px) {
  .mem_btn li {
    margin: 20px 5px;
    flex-basis: 25%;
  }
}

.-mem_this {
  background-color: #2f4f4f;
  color: #fff;
}

.mem_main {
  width: 80%;
}

@media (max-width: 990px) {
  .mem_main {
    width: 97%;
    margin: 0 auto;
  }
}

.mem_main .-mem_show {
  display: block;
}

.center_wrapper {
  display: none;
  background-color: #fff;
  border-radius: 30px 30px 10px 10px;
}

.center_wrapper > h1 {
  background-color: #2f4f4f;
  color: #fff;
  border-radius: 30px;
  margin-top: 20px;
  padding: 10px;
  font-size: 18px;
}

.center_contain {
  display: flex;
  margin: 0 auto;
  padding: 30px 0;
  justify-content: space-evenly;
  width: 100%;
  max-width: 800px;
}

@media (max-width: 990px) {
  .center_contain {
    flex-direction: column;
  }
}

form {
  text-align: left;
}

@media (max-width: 990px) {
  form {
    text-align: center;
    margin: 30px auto;
  }
}

form input {
  border: none;
  border-radius: 5px;
  background-color: #eeebeb;
}

form .mem_submit {
  width: 200px;
  height: 50px;
  margin: 40px auto 0;
  background-color: #2f4f4f;
  color: #fff;
  border-radius: 10px;
  border: none;
}

.mem_photo {
  cursor: pointer;
}

.mem_photo label {
  position: relative;
}

.mem_photo img {
  width: 180px;
  border-radius: 10px;
}

.mem_photo i {
  font-size: 20px;
  position: absolute;
  bottom: 15px;
  right: 10px;
}

.mem_wrp {
  margin-bottom: 20px;
  display: flex;
}

.mem_wrp input {
  height: 30px;
}

.mem_wrp .long {
  width: 230px;
  max-width: 300px;
}

.mem_order {
  width: 97%;
  font-size: 14px;
  border: 1px solid #eeebeb;
  line-height: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 990px) {
  .mem_order {
    width: 95%;
    margin: 0 auto;
  }
}

.mem_order .mem_order_top {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px dashed #ccc;
}

@media (max-width: 990px) {
  .mem_order .mem_order_top {
    flex-direction: column;
    justify-content: center;
  }
}

.mem_order .mem_order_top li {
  width: 100%;
}

@media (max-width: 990px) {
  .mem_order .mem_order_top li {
    display: flex;
    justify-content: flex-start;
  }
}

.mem_order .mem_order_top li .tit {
  display: block;
  background-color: #eeebeb;
}

@media (max-width: 990px) {
  .mem_order .mem_order_top li .tit {
    width: 50%;
    border-bottom: 1px solid #fff;
  }
}

@media (max-width: 990px) {
  .mem_order .mem_order_top li span {
    width: 50%;
    border-bottom: 1px solid #eeebeb;
  }
}

.mem_order .mem_order_top li:last-child .tit, .mem_order .mem_order_top li:last-child span {
  border-bottom: unset;
}

.mem_order ol {
  display: flex;
  justify-content: space-evenly;
}

.mem_order ol li:first-child {
  width: 100%;
  text-align: left;
  padding-left: 20px;
}

.mem_order ol li {
  width: 100px;
}

.mem_open {
  cursor: pointer;
}

.order_list_wrapper {
  display: none;
}

.mem_order_list {
  line-height: 1.8;
}

.mem_order_list .pro_list {
  display: flex;
  padding: 20px 0;
  border-bottom: 1px dashed #ccc;
}

.mem_order_list .pro_list .list_column {
  display: flex;
  width: 100%;
}

.mem_order_list .pro_list .list_column img {
  width: 50px;
  height: 50px;
  margin: 5px 20px;
}

.mem_order_list .pro_list .list_column .pro_item {
  text-align: left;
}

.mem_order_list .pro_list .list_column .pro_item > span {
  display: block;
}

.mem_order_list .pro_list .list_column .pro_item dl {
  padding-left: 10px;
  line-height: 1.5;
  color: #999;
}

.mem_order_list .pro_list > span {
  display: block;
  width: 100px;
}

.mem_order_list .pro_list i {
  color: #ccc;
  cursor: pointer;
}

.mem_order_list .pro_list i:hover {
  color: #d9a420;
}

.mem_star_wrapper {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  max-width: 350px;
  max-height: 250px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 10;
}

.mem_star_wrapper .fa-times {
  margin-left: auto;
  font-size: 18px;
}

.mem_star_wrapper .mem_star i {
  margin: 30px 5px;
  font-size: 36px;
  color: #eeebeb;
  cursor: pointer;
}

.mem_star_wrapper .mem_star i:hover {
  color: #d9a420;
}

.mem_star_wrapper .mem_star .-this_star {
  color: #d9a420;
}

.mem_star_wrapper input {
  background-color: #2f4f4f;
  border-radius: 10px;
  border: unset;
  color: #fff;
  margin-bottom: 20px;
  width: 150px;
  padding: 10px 0;
}

.lightbox_wrapper {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 110;
  background-color: rgba(0, 0, 0, 0.5);
}

.mem_love {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 97%;
  margin: 0 auto;
}

.mem_love li {
  flex-basis: 30%;
  padding: 15px;
  margin: 10px;
  border: 1px solid #eeebeb;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .mem_love li {
    flex-basis: 46%;
    margin: 2%;
  }
}

.mem_love li img {
  width: 100%;
  margin-bottom: 10px;
}

.mem_love li .mem_love_btn {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.mem_love li .mem_love_btn i {
  border-radius: 5px;
  border: 1px solid #2f4f4f;
  padding: 10px;
  font-size: 24px;
  margin-right: 10px;
  cursor: pointer;
}

.mem_love li .mem_love_btn i:hover {
  color: #eeebeb;
  background-color: #2f4f4f;
}

.mem_love li .mem_love_btn .gobuy {
  width: 100%;
  background-color: #2f4f4f;
  border-radius: 5px;
}

.mem_love li .mem_love_btn .gobuy a {
  color: #fff;
  line-height: 3;
  font-size: 14px;
}

.mem_qa, .mem_answer, .mem_reply {
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 10px;
  margin: 20px auto 30px;
  padding: 30px;
}

.mem_qa input, .mem_answer input, .mem_reply input {
  width: 100%;
  height: 40px;
  background-color: #eeebeb;
  border: none;
  border-radius: 5px;
  padding-left: 20px;
  color: #2f4f4f;
  font-size: 16px;
}

.mem_qa .mem_qanew, .mem_qa .mem_qareplay, .mem_answer .mem_qanew, .mem_answer .mem_qareplay, .mem_reply .mem_qanew, .mem_reply .mem_qareplay {
  width: 200px;
  background-color: #2f4f4f;
  color: #fff;
  border: none;
  border-radius: 5px;
  height: 40px;
  margin-left: 20px;
}

.mem_answer {
  flex-direction: column;
}

.mem_answer .mem_qs_wrapper, .mem_answer .mem_ans_wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.mem_answer .mem_qs_wrapper img, .mem_answer .mem_ans_wrapper img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.mem_ans_box, .mem_qs_box {
  width: 100%;
  display: flex;
}

@media (max-width: 768px) {
  .mem_ans_box, .mem_qs_box {
    flex-direction: column;
  }
}

.mem_ans_box p, .mem_qs_box p {
  text-align: left;
  padding: 5px 20px;
  margin: 0 20px;
  border-radius: 5px;
}

.mem_ans_box time, .mem_qs_box time {
  margin-left: auto;
  align-self: flex-end;
  font-size: 12px;
}

@media (max-width: 768px) {
  .mem_ans_box time, .mem_qs_box time {
    margin-right: auto;
    margin-left: 25px;
  }
}

@media (max-width: 768px) {
  .mem_ans_box .mem_push, .mem_qs_box .mem_push {
    margin-left: 45px;
  }
}

.nobg {
  background-color: unset;
}

.line_down {
  width: 100%;
  margin: 20px auto;
  border-bottom: 1px solid #2f4f4f;
}

.mem_ans_wrapper {
  padding-left: 40px;
  margin: 10px auto;
  position: relative;
}

.mem_ans_wrapper p {
  background-color: #eeebeb;
}

.mem_ans_wrapper p::before {
  content: '';
  position: absolute;
  top: 10px;
  left: 80px;
  border: 10px solid;
  border-color: transparent #eeebeb transparent transparent;
}

.mem_reply {
  margin: 0;
  padding: 30px 0 10px;
}

body {
  font-family: "Noto Sans TC", "sans-serif";
  color: #2f4f4f;
  letter-spacing: 0.1em;
  line-height: 1.8;
  font-size: 1.6rem;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
  display: block;
  color: #2f4f4f;
}

img {
  width: 100%;
}

section {
  text-align: center;
}

article {
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  padding: 20px;
}

.btn_green a {
  background-color: #2f4f4f;
  color: #ffffff;
  margin: 0px auto;
  border-radius: 10px;
  padding: 15px 0;
  width: 200px;
  text-decoration: none;
  display: block;
}

.btn_yellow a {
  background-color: #d9a420;
  margin: 0px auto;
  border-radius: 10px;
  padding: 15px 0;
  width: 200px;
  text-decoration: none;
  display: block;
}

.bread {
  float: left;
  font-size: 1.2rem;
  display: flex;
}

.full_wrapper {
  background-image: url(../img/gray_bg.png);
  background-repeat: repeat-y;
  background-position: center center;
  background-size: cover;
}

footer {
  background-color: #2f4f4f;
  color: #fff;
  font-size: 12px;
}

footer a {
  color: #fff;
}

footer article {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 50px 0;
}

@media (max-width: 768px) {
  footer article {
    align-items: flex-start;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
  }
}

footer .line {
  border-left: 2px solid #fff;
  height: 165px;
  order: 0;
}

@media (max-width: 768px) {
  footer .line {
    order: 1;
    width: 100%;
    height: auto;
    border-left: none;
    border-bottom: 2px solid #fff;
    margin: 40px auto;
  }
}

.brand_info {
  height: 165px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
}

@media (max-width: 768px) {
  .brand_info {
    order: 2;
  }
}

.brand_info ul {
  display: flex;
  justify-content: space-between;
}

.brand_info ol {
  display: flex;
  justify-content: flex-start;
  font-size: 28px;
}

.brand_info li {
  margin-right: 30px;
}

.logo_info {
  line-height: 2;
}

.logo_info img {
  display: block;
  width: 250px;
  margin-bottom: 20px;
}
/*# sourceMappingURL=style.css.map */