
.pconly{
    display: block;
    @include pad{
        display: none;
    }
}

.custom_wrapper{
    display: flex;
    justify-content: space-between;
    @include pad{
        flex-direction: column;

    }
}

.custom_block7{
    width: 60%;
    /* outline: 1px solid green; */
    position: relative;
    background-image: url(../img/custom/custom_bg_white.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 600px;
    // height: 785px;
    overflow: hidden;
    padding-bottom: 20px;
    @include pad{
        max-width: 600px;
        width: 100%;
        margin: 0 auto;
        order: 1;
    }
    @include mobile{
        margin: 30px auto 0;
        background-size: contain;
        height: 635px;
    }
   
    @include phone{
        background-position-y: top;
        height: 665px;
    }

}

.custom_price{
    background-image: url(../img/custom/price.png);
    background-repeat: no-repeat;
    background-size: 130px;
    width: 130px;
    height: 130px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.2;
    padding: 30px 0 0;

    position: absolute;
    bottom: 0px;
    left: 0;
    @include mobile{
        background-image: url(../img/custom/price_turn.png);
        background-size: 110px;
        width: 110px;
        height: 110px;
        padding: 28px 10px 0;
        bottom: unset;
        top: 0;
    }
}

.custom_price span{
    font-size: 36px;
    letter-spacing: 0;
    @include mobile{
        font-size: 26px;
    }
    
}

.custom_btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    right: 0;
    bottom: 20px;
    width: 115px;
    @include mobile{
        bottom: 0;
    }
    @include phone{
        flex-direction: column;
    }
    
}
.btn_delet{
    display: block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border: 1px solid #2f4f4f;
    border-radius: 5px;
    font-size: 30px;
    cursor: pointer;
    @include phone{
        width: 60px;
        height: 60px;
        line-height: 56px;
        margin-top: 10px;
        margin-left: 20px;
    }
}

.turn180{
    /* background: #333; */
    background-image: url(../img/custom/icon_180.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 35px;
    width: 50px;
    height: 50px;
    display: block;
    @include phone{
        width: 60px;
        height: 60px;
        background-size: 40px;
    }
    
}

.btn_delet:hover{
   background-color: #2f4f4f;
   color: #eeebeb;
}

.turn180:hover{
    background-image: url(../img/custom/icon_180_g.png);
}

.custom_paw{
    // overflow: hidden;
    position: relative;
    z-index: 4;
}

.custom_paw img{
    display: block;
    position: absolute;
    top: -700px;
    left: 0; 
    right: 0;
    margin: 0 auto;
    width: 90%;
    @include phone{
        top: -550px;
        width: 100%;
    }
}
.custom_gift_ribbon{
    // outline: 1px solid red;
    display: block;
    // opacity: .5;
    width: 60%;
    margin: 30px auto;
    position: absolute;
    top: -200%;
    right: 0;
    left: 0;
    z-index: 1;
    @include phone{
        width: 80%;
        margin: 50px auto;
    }
}
.custom_gift_top{
    // outline: 1px solid red;
    display: block;
    opacity: .5;
    width: 80%;
    margin: 0 auto;
    position: absolute;
    top: -200%;
    right: 0;
    left: 0;
    z-index: 4;
    height: 100%;
    @include phone{
        width: 100%;
        height: 97%;
    }
}
.custom_gift_bottom{
    display: block;
    width: 80%;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    right: 0;
    left: -200%;
    z-index: 0;
    @include phone{
        width: 100%;
        bottom: 30px;
    }
}

.custom_draw{
    /* outline: 1px solid blue; */
    // background-image: url(../img/custom/custom_bg_white.png);
    // background-repeat: no-repeat;
    // background-position: center center;
    // background-size: 600px;
    height: 600px;
    position: relative;
    margin: 70px auto;
    @include mobile{
        // background-size: contain;
        height: 450px;
    }
    @include phone{
        // background-position-y: top;
        height: 480px;
    }
}



.custom_draw_plant{
    // width: 580px;
    // display: flex;
    // margin: 0 auto;
    width: 480px;
    height: 250px;
    margin: 0 auto;
    text-align: center;
    // padding: 100px 0;
    position: relative;
    @include mobile{
        width: 350px;
        height: 174px;
    }
    
}

.custom_draw_plant img{
    position: absolute;
    display: block;
    height: 251px;
    width: auto;
    /* outline: 1px solid pink; */
    @include mobile {
        height: 174px;
    }
    
}

.custom_draw_pot img{
    display: block;
    width: 475px;
    filter: drop-shadow(0px 2px 2px rgba(0,0,0,.2));
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    @include mobile {
        width: 375px;
    }
    @include phone{
        bottom: 30px;
    }
    
}

.custom_block3{
    width: 40%;
    position: relative;
    /* outline: 1px solid green; */
    /* font-size: 14px;
    font-weight: 700; */
    @include pad{
        width: 100%;
    }
}

.custom_block3>img{
    display: block;
    width: 100%;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    @include pad{
        display: none;
    }


}

.custom_product{
    width: 80%;
    height: 100%;
    margin:0 auto;
    position: relative;
    padding-top: 5%;
    @include pad{
        width: 90%;
        padding-top: 48px;
        z-index: 4;
    }
    @include phone{
        width: 100%;
    }
}

.custom_product_type{
    float: left;
    position: absolute;
    top: 200px;
    left: -37px;
    @include pad{
        float: none;
        display: flex;
        right: 0;
        left: 0;
        top: 0;
    }
    @include phone{
        // float: none;
        // display: flex;
        // right: 0;
        // left: 0;
        // top: -48px;
    }
}

.custom_product_type li{
    padding: 30px 10px;
    background-color: #fff;
    border-radius: 10px 0 0 10px;
    cursor: pointer;
    @include pad{
        border-radius: 10px 10px 0 0 ;
        padding: 10px 30px;
    }
    @include phone{
        // border-radius: 10px 10px 0 0 ;
        // padding: 10px 30px;  

    }
}

.custom_wrapper .bg_gold{
    background-color:#d0c3a3;
}

.custom_wrapper .bg_green{
    background-color:#979f77;
}

.custom_product ._onon{
    display: flex;
}

.custom_say {
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom_say p{
    background-image: url(../img/custom/icon_say.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 180px;
    height: 50px;
    line-height: 50px;
    padding-right: 15px;
    
}

.custom_say i{
    font-size: 30px;
    margin: 0 -20px 0 10px;
}

.custom_say b{
    font-weight: 700;
    margin: 0 5px;
}

.custom_product_items{
    background-color: #fff;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    padding-top: 110px;
    @include pad{
        padding: 15px;
        border-radius: 0 10px 10px 10px;
    }
}

.custom_product_items ul{
    display: none;
    height: 600px;
    overflow: hidden;
    overflow-y: scroll;
    padding: 0 10px;
    justify-content: space-evenly;
    align-content: flex-start;
    flex-wrap: wrap;  
    @include pad {
        height: auto;
        justify-content: flex-start;
        flex-wrap: nowrap;
        overflow-y:hidden;
        overflow-x: scroll;
    }
}

.custom_product_items li{
    flex-basis: 40%; 
    margin: 10px auto;
    text-align: center;    
    font-size: 12px;
    @include pad{
        margin: 10px;
    }
}

.custom_product_items li a{
    color: #2f4f4f;    
}

.custom_product_items li img{
    width: auto;
    height: 100px;
    display: block;
    margin: 0 auto 10px;
    
}

.custom_draw .-mirror{
    // -moz-transform:scaleX(-1);
    // -webkit-transform:scaleX(-1);
    // -o-transform:scaleX(-1);
    transform:scaleX(-1);
    // filter:FlipH;
}

.custom_draw .-mirrorpot{
    // -moz-transform:scaleX(-1);
    // -webkit-transform:scaleX(-1);
    // -o-transform:scaleX(-1);
    transform:scaleX(-1) translateX(50%);
    // filter:FlipH;
}



.-nono{
    display: none;
}

.-upup{
    z-index: 1;
    // pointer-events: none;
}

//以下為泡泡動畫
 .custom_pos{
     position: relative;
 }

.circle_block{
    width: 300px;
    height: 400px;
    overflow: hidden;
    // outline: 1px solid red;
    position: absolute;
    z-index: -1;
    @include mobile{
        display: none;
    }
}

.-right_bottom{
    right: 0;
    bottom: 10%;
}

.-left_top{
    top: 12%;
    left: 0;
}

.circle_deepgreen{
    width: 350px;
    height: 350px;
    background-color: #2f4f4f;
    // border-radius: 33% 67% 26% 74% / 70% 35% 65% 30% ;
    animation: circle1 5s linear infinite;
    position: absolute;
    right: -60%;
    bottom: 20px;
    
}
.circle_green1{
    width: 100px;
    height: 100px;
    border: 3px solid #677749;
    // border-radius: 33% 67% 26% 74% / 70% 35% 65% 30% ;
    animation: circle2 8s linear infinite;
    position: absolute;
    left: 35%;
    bottom: 20px;
    
}

.circle_green2{
    width: 180px;
    height: 180px;
    background-color:rgba(147,158,114,.8);
    // border-radius: 33% 67% 26% 74% / 70% 35% 65% 30% ;
    animation: circle2 5s linear infinite;
    position: absolute;
    left: -30%;
    top: 0; 
}

.circle_gold{
    width: 60px;
    height: 60px;
    border: 2px solid #d0c3a3;
    // border-radius: 33% 67% 26% 74% / 70% 35% 65% 30% ;
    animation: circle1 5s linear infinite;
    position: absolute;
    left: 20%;
    top: 0;   
}

 @keyframes circle1 {
    0%{border-radius: 62% 38% 34% 66% / 70% 57% 43% 30%  ;}
    25%{border-radius: 45% 55% 35% 65% / 63% 42% 58% 37% ;}
    50%{border-radius: 57% 43% 52% 48% / 41% 49% 51% 59%  ;}
    75%{border-radius: 59% 41% 50% 50% / 28% 54% 46% 72%  ;}
    100%{border-radius: 62% 38% 34% 66% / 70% 57% 43% 30%  ;}
        
} 

 @keyframes circle2 {
    0%{border-radius: 65% 35% 68% 32% / 39% 50% 50% 61%    ;}
    25%{border-radius: 47% 53% 34% 66% / 36% 50% 50% 64%   ;}
    50%{border-radius: 57% 43% 52% 48% / 41% 49% 51% 59%  ;}
    75%{border-radius: 66% 34% 36% 64% / 40% 70% 30% 60%    ;}
    100%{border-radius: 65% 35% 68% 32% / 39% 50% 50% 61%    ;}
        
} 

